body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
 }
  
 #pokemonContainer {
    display: flex;
    flex-wrap: wrap;
 }
  
 .pokemonCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    width: 10rem;
    margin: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
  
 .pokemonCard img {
    width: 90px;
    height: 90px;
 }
 